* {
  padding: 0;
  margin: 0;
  border: 0;

  outline: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  font-family: "Titillium Web", sans-serif;
}

:root {
  --white: #e2e8f0;
  --bg-color: #0f172a;

  --color-logo: #93c5fd;
  --bg-color-card: #1e293b;
  --bg-color-card-200: #253247;

  --red: #dc2626;
  --zinc: #a1a1aa;
  /* --green: ; */
}

body {
  display: flex;
  margin: 0 auto;
  margin-bottom: 1rem;
  flex-direction: column;

  max-width: 82.8rem;
  width: 95%;

  background-color: var(--bg-color);
  color: var(--white);
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.logotipo {
  display: flex;
  gap: 0.75rem;
}

.logotipo h1 {
  font-weight: 400;
  color: #fff;
}

.logotipo h1 span {
  color: var(--color-logo);
}

nav {
  display: flex;
  gap: 1.08rem;
  align-items: center;
}

nav a img {
  border-radius: 50%;
}
/* MAIN */

#sumario {
  display: flex;
  gap: 3.06rem;
  margin-top: 2rem;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--bg-color-card);
  width: 25.5rem;
  height: 9rem;
  padding: 1.25rem 1.56rem;
  border-radius: 1.25rem;
}

.card div {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.card h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

aside {
  display: flex;
  gap: 3.31rem;

  margin-top: 2.3rem;
}

#historicos {
  display: flex;
  flex-direction: column;
  gap: 1.37rem;
  max-width: 53.6rem;
  width: 100%;
}

.info {
  display: flex;
  justify-content: space-between;
}

.info h2 {
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
}

.info span {
  font-size: 0.75rem;
  color: var(--color-logo);
}

.sumario-historico {
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
}

#card-historico {
  display: flex;
  gap: 1.56rem;
  background-color: var(--bg-color-card);
  border-radius: 0.62rem;
}

#card-historico div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}

.conversores {
  display: flex;
  flex-direction: column;
  gap: 1.37rem;
  max-width: 24.81rem;
  width: 100%;
}

.historico-cotação {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  width: 100%;
}

#cotação {
  display: flex;
  gap: 1rem;
  width: 100%;

  padding: 0.8rem 0.81rem;
  border: 1px solid var(--bg-color-card);
  border-radius: 1.25rem;

  font-size: 0.87rem;
}

#info-cotação {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

#type-cotação span {
  font-size: 0.75rem;
  font-weight: 100;
  color: var(--zinc);
}

#valor-cotação span {
  display: flex;
  pad: 0.5rem;
  color: var(--red);
  font-size: 0.75rem;
  align-items: center;
}



/* Scrool */

::-webkit-scrollbar {
  width: 0.43rem; /* Largura do scroll vertical */
}

::-webkit-scrollbar-track {
  background: none /* Cor de fundo da área do scroll */
}

::-webkit-scrollbar-thumb {
  background: var(--bg-color-card); /* Cor do scroll */
  border-radius: 1rem;
  padding: 0.2;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bg-color-card-200); /* Cor do scroll ao passar o mouse */
}